@font-face {
  font-family: 'Suisse';
  src:  url('./assets/Suisse_Intl_Medium.ttf') format('ttf');
}

* {
  font-family: Suisse, sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url("./assets/background.png");
  background-repeat: repeat;
  background-size: 941px auto;

  animation: bgMove 20s linear infinite;

  will-change: background-position;
}

@keyframes bgMove {
  from {
      background-position: 0 0;
  }
  to {
      background-position: -941px 0;
  }
}

.logo {
  width: 8.8vw;
  height: 8vh;
  position: absolute;
  top: 2.8vh;
  left: 50%;
  transform: translateX(-50%);
}

.logo.left {
  left: 3.6vw;
  transform: none;
}

.options {
  width: 65vw;
  height: 74vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 18.5vh;
  display: flex;
  justify-content: space-between;
}

.option {
  height: 100%;
  width: calc(50% - 1.3vw);
  background: #E3F900;
  position: relative;
}

.optionImg {
  height: 74%;
  width: calc(100% - 16px);
  left: 8px;
  top: 8px;
  position: absolute;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionImg img {
  width: 100%;
  height: 100%;
}

.optionImg.smallImg img {
  width: 50%;
  height: 50%;
}

.optionText {
  position: absolute;
  bottom: calc(13% - 1.8vh);
  left: 0;
  width: 100%;
  font-size: 3.4vh;
  color: #000000;
  text-align: center;
}

.selectPanel {
  position: absolute;
  opacity: 0;
  left: 3.6vw;
  width: 92.8vw;
  height: 76vh;
  top: 16.7vh;
  z-index: -1;
}

.selectPanel.visible {
  opacity: 1;
  z-index: 10;
}

.selectPanelButtons {
  display: flex;
  gap: 1.3vw;
  margin-bottom: 3.2vh;
}

.selectPanelButton {
  padding: 1.4vh 1.3vw;
  background: #333333;
  border-radius: 0.3vw;
  font-size: 2.4vh;
  color: #707070;
  border: none;
  cursor: pointer;  
}

.selectPanelButton.active {
  background: #E3F900;
  color: #000000;
}

.bigRightImage {
  position: fixed;
  top: 0;
  right: 0;
  width: 41vw;
  height: 100vh;
}

.selectImages {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

.selectImage {
  width: 15.6vw;
  height: 27.8vh;
  margin-right: 1.3vw;
  margin-bottom: 2.3vh;
  background: #ffffff;
}

.selectImage:nth-child(3) {
  margin-right: 0;
}

.selectImage img {
  width: 100%;
  height: 100%;
}

.selectImage.active {
  background: #E3F900;
}

.selectPanelBottomButtons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 0.9vw;
}

.selectPanelBottomButton {
  padding: 0.9vh 1vw;
  display: flex;
  align-items: center;
  font-size: 1.8vh;
  border-radius: 0.3vw;
  background: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
}

.selectPanelBottomButton img {
  width: 0.9vw;
  height: auto;
  margin-right: 0.5vw;
}

.selectPanelBottomButton:last-child {
  background: #E3F900;
}

.selectPanelBottomButton:last-child img {
  width: 1vw;
}

.backBtn {
  position: absolute;
  bottom: 0;
  left: -13.8vw;
  padding: 0.9vh 1vw;
  display: flex;
  align-items: center;
  font-size: 1.8vh;
  border-radius: 0.3vw;
  background: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
}

.backBtn img {
  width: 0.9vw;
  height: auto;
  margin-right: 0.5vw;
}