@font-face {
  font-family: 'Suisse';
  src:  url('./assets/Suisse_Intl_Medium.ttf') format('ttf');
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-family: Suisse, sans-serif;
  font-weight: 500;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url("./assets/background.png");
  background-repeat: repeat;
  background-size: 941px auto;

  animation: bgMove 20s linear infinite;

  will-change: background-position;
}

@keyframes bgMove {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 941px 0;
  }
}

.logo {
  width: 8.8vw;
  height: 8vh;
  position: absolute;
  top: 2.8vh;
  left: 50%;
  transform: translateX(-50%);
}

.logo.left {
  left: 3.6vw;
  transform: none;
}

.options {
  width: 65vw;
  height: 74vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 18.5vh;
  display: flex;
  justify-content: space-between;
}

.option {
  height: 100%;
  width: calc(50% - 1.3vw);
  background: #E3F900;
  position: relative;
}

.optionImg {
  height: 74%;
  width: calc(100% - 16px);
  left: 8px;
  top: 8px;
  position: absolute;
  background: #000000;
}

.optionImg img {
  width: 100%;
  height: 100%;
}

.optionText {
  position: absolute;
  bottom: calc(13% - 1.8vh);
  left: 0;
  width: 100%;
  font-size: 3.4vh;
  color: #000000;
  text-align: center;
}

.selectPanel {
  position: absolute;
  opacity: 0;
  left: 3.6vw;
  width: 92.8vw;
  height: 76vh;
  top: 16.7vh;
  z-index: -1;
}

.selectPanel.visible {
  opacity: 1;
  z-index: 10;
}

.selectPanelButtons {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  gap: 1.3vw;
}

.selectPanelButton {
  padding: 1.4vh 1.3vw;
  background: #333333;
  border-radius: 0.3vw;
  font-size: 2.4vh;
  color: #707070;
  border: none;
  cursor: pointer;  
}

.selectPanelButton.active {
  background: #E3F900;
  color: #000000;
}